*.aux
*.log
*.pdf
*.synctex.gz
*.fna
*.fasta
*.xml
!pom.xml
*.mf
*.test
*.lineage
*.sixframe
found_lcas*
found_peptides.txt
six_frame_single
nbproject/
build/
*temp*/
target/
*.*mer
*.*mer.lca
Kmeren/kmer_tekening.tex
Kmeren/lca_file.temp
Kmeren/lca_test
SixFrameTransl/results/
