!acinetobacter_reads_analyseer.csv
!pom.xml
*.*mer
*.*mer.lca
*.aln
*.aux
*.bkp
*.bmp
*.csv
*.class
*.counts
*.fa
*.fasta
*.fna
*.fq
*.key
*.lca
*.lineage
*.log
*.mf
*.pdf
*.Rhistory
*.Rdata
*.sixframe
*.synctex.gz
*.taxonList*
*.test
*.tsv
*.txt
*.xls
*.xml
*temp*/
6Frame_Translation/
DrawSixFrame/
FastaFiles/
Kmeren/kmer_tekening.tex
Kmeren/lca_file.temp
Kmeren/lca_test
Plots/
Results/
SixFrameTransl/results/
build/
found_lcas*
found_peptides.txt
nbproject/
Kraken_HiSeq_Lineages
Kraken_HiSeq_presentTaxons
six_frame_single
target/
*classes*
Kmer2consensus/Kraken_HiSeq_consensus
Kmer2consensus/pipeline_split2unipept.tex
Kmer2consensus/OptiesVGL/*.tex
Kmer2consensus/temp
Kmer2consensus/metabenchmark/present_lineage.onlyTaxID
Kmer2consensus/metabenchmark/*.tex
Kmer2consensus/OUD/
Pseudogymnoascus/
SixFrameTransl/xac
testFGS
Kmer2consensus/OptiesVGL/gap_pen_PR_Mmrl
Kraken.OneRead*/
Scripts/javaDrawTikz.sh
Scripts/multipleframepics.sh
