!acinetobacter_reads_analyseer.csv
!pom.xml
*.*mer
*.*mer.lca
*.aln
*.aux
*.csv
*.fasta
*.fna
*.fq
*.lineage
*.log
*.mf
*.pdf
*.Rhistory
*.sixframe
*.synctex.gz
*.test
*.xml
*temp*/
Kmeren/kmer_tekening.tex
Kmeren/lca_file.temp
Kmeren/lca_test
Plots/
Results/
SixFrameTransl/results/
build/
found_lcas*
found_peptides.txt
nbproject/
six_frame_single
target/
*classes*
