# This is a config file for the Unipept Metagenomics Analysis Pipeline (UMGAP)
#
# It follows the following simple format:
# -> Each line is a key-value pair, separated by a '='
# -> Comments start with a '#'
#
# Values are automatically quoted, and will be expanded by bash
# (e.g. $HOME will point to you home directory)
#
# By default, each binary is expected to be located at $HOME/.local/bin/
# Each data file is expected to be located at $HOME

#############################
#      General options      #
#############################
tmp_dir=/tmp
# Whether to take measurements for each step (e.g. execution time, max memory)
measurements.enabled=true
# The log file to use when taking measurements.
measurements.log_file=$HOME/umgap.log
# The TSV file that contains the taxons
taxons_tsv=$HOME/taxons.tsv


#############################
#   Preprocessing options   #
#############################


#############################
#  Gene prediction options  #
#############################
# The gene prediction tool that should be used. Can be FGS, FGS+ or 6FT.
gene_predictor=FGS++

# FragGeneScan / FGS++ options
#---------------------------
# The amount of threads to use.
FragGeneScan.num_threads=8
# The train model that should be used
FragGeneScan.train_model=illumina_10

# 6-frame-translation options
#---------------------------
# Which translation table to use when translating codons
6FT.translation_table=11


#############################
#     prot2pept options     #
#############################
# Peptides
peptides.min_length=5
peptides.max_length=50
# K-mers
kmers.enabled=false
kmers.length=9

#############################
#     pept2lca options      #
#############################
pept2lca.index_file=$HOME/pept2lca.index


#############################
#     taxa2agg options      #
#############################
# The type of aggregation to use. Can be: "LCA*", "MRTL", or "hybrid".
taxa2agg.type=LCA*
# The algorithm to use for the aggregation. Can be: "RMQ" or "tree".
taxa2agg.method=RMQ
# The factor to use when using the hybrid algorithm
taxa2agg.hybrid.factor=0.5
# The amount of times a taxon should occur before it's included in the result.
taxa2agg.min_freq=0


#############################
#     agg2freq options      #
#############################
